<style lang="scss" scoped>



</style>

<template>
  <v-card>
    <v-tabs
      v-model="active"
      color="primary"
      dark
      slider-color="orange"
    >
      <v-tab
        v-for="(label, index) in tabs"
        :key="index"
        ripple
      >
        {{ label }}

      </v-tab>
      <v-tab-item
        v-for="n in 3"
        :key="n"
      >
        <v-card flat>
          <v-card-text>{{ text }}</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      active: null,
      tabs: ["One", "Two", "Three"],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>


