<style lang="scss" scoped>

</style>

<template>
  <div>
    <v-data-table
    :headers="headers"
    :items="tableData"
    :rows-per-page-items="rowsPerPage"
    class="elevation-1"
    >
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.name }}</td>
      <td class="text-xs-left">{{ props.item.job }}</td>
      <td class="text-xs-left">{{ props.item.age }}</td>
      <td class="text-xs-left">{{ props.item.nickname }}</td>
      <td class="text-xs-left">{{ props.item.employee }}</td>
    </template>
  </v-data-table>
  </div>
</template>

<script>
export default {
  name: 'MainTable',
  data () {
    return {
      rowsPerPage: [2],
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Job title', value: 'job' },
        { text: 'Age', value: 'age' },
        { text: 'Nickname', value: 'nickname' },
        { text: 'Employee', value: 'employee' }
      ],
      tableData: [
        {
          value: 'false',
          name: 'John Doe',
          job: 'Founder & CEO',
          age: '30',
          nickname: 'John128',
          employee: 'checkbox'
        },
        {
          value: 'false',
          name: 'Bae Doe',
          job: 'Manager',
          age: '31',
          nickname: 'John128',
          employee: 'checkbox'
        },
        {
          value: 'false',
          name: 'Bae Doe',
          job: 'Manager',
          age: '31',
          nickname: 'John128',
          employee: 'checkbox'
        },
        {
          value: 'false',
          name: 'Bae Doe',
          job: 'Manager',
          age: '31',
          nickname: 'John128',
          employee: 'checkbox'
        }
      ]
    }
  }
}
</script>


