<style lang="scss" scoped>

.sidenav-container {
  display: grid;
  grid-gap: 10px;
}

.filter-btn {
  margin-left: 4px;
}

</style>

<template>
<div class="sidenav-container">
  <v-text-field
    label="Filter"
    outline
  >
  </v-text-field>
  <v-select
    v-model="select"
    :items="items"
    label="Select"
  >
  </v-select>
  <div class="checkbox-group">
    <v-checkbox
      v-for="(label, index) in items"
      :key="index"
      :label="label"
      color="primary"
      value="primary"
      hide-details
    >
    </v-checkbox>
  </div>
  <v-btn
    color="primary"
    class="filter-btn"
  >
    Filtruj
    </v-btn>
</div>
</template>

<script>
export default {
  name: 'SideNav',
  data () {
    return {
      select: null,
      items: [
        'Programming',
        'Design',
        'Vue',
        'Vuetify'
      ]
    }
  }
}
</script>


