<style lang="scss">
  @import "./assets/css/common.scss";
  @import "./assets/css/variables.scss";
</style>

<style lang="scss" scoped>
.grid {
  display: grid;
  height: 100vh;
  padding: 10px;
  background: #f2f2f2;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  grid-template-areas: "sidenav table"
                       "sidenav main"
}

.grid > * {
  background: #ffffff;
}

.sidenav {
  grid-area: sidenav;
  padding: 10px 20px;
}

.table {
  grid-area: table;
}

.grid-body {
  grid-area: main;
  padding: 0;
}

</style>

<template>
  <v-app>
    <div class="grid">
      <v-card class="sidenav">
        <side-nav />
      </v-card>
      <v-card class="table">
        <main-table />
      </v-card>
      <v-card class="grid-body">
        <main-content />
      </v-card>
    </div>
  </v-app>
</template>

<script>
import SideNav from './components/SideNav'
import MainTable from './components/MainTable'
import MainContent from './components/MainContent'

export default {
  name: 'App',
  components: {
    SideNav,
    MainTable,
    MainContent
  }
}
</script>


